# we want to ignore all the pa files since they are huge
*.pa*
*.processed.gem
*.tmp
*ExtractionAndBenderScan*
*TOF_Distribution*.jpg
SelScan*.png
IonTOFResolvability/__pycache__/TOFResolutionlib.cpython-311.pyc
TuningScans/SelSteering2DScan/data/ke_20_sel_-1870/IonStartLocationSteering_nvolts_41_npoints_65.csv